image: maven:3.8.3-openjdk-17

variables:
  MAVEN_CLI_OPTS: "--batch-mode"

before_script:
  cd app-gruppe36/ui

stages:
  - test

cache:
  key: "${CI_COMMIT_REF_SLUG}"
  paths:
    - .m2/repository


test:
  stage: test
  script:
    - mvn test $MAVEN_CLI_OPTS -DskipUiTests=false
